.card-member-list {
    background-color: #fff;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    position: absolute;
    z-index: 1;
    &.modal-right {
        position: absolute;
        @include for-wide-layout{
            transform: translateY(50px);
        } 
        @include for-mobile-layout{
            transform: translateY(-400px);
        } 
    }
    &.modal-left {
        position: absolute;
        transform: translate(-595px, 103px);
        @include for-mobile-layout {
            transform: translateY(-860px);
        }
    }
    .close-save-edit {
        background-color: transparent;
        top: 5px;
        right: 5px;
        width: 40px;
    }
    .card-member-list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(223, 227, 232);
        margin-bottom: 10px;
        h3 {
            color: #5e6c84;
            font-weight: 400;
            font-size: 14px;
            margin: 0;
        }
    }
    box-shadow:  0 8px 16px -4px rgba(9, 30, 66,  .25), 0 0 0 1px rgba(9, 30, 66, .08);
    input {
        margin: 4px 0 12px;
        width: 100%;
        background-color: #ebecf0;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        outline: none;
        border: none;
        border-radius: 3px;
        line-height: 20px;
        padding: 8px 12px;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        color: #172b4d;
    }
    input:focus {
        box-shadow: inset 0 0 0 2px #0079be;
    }
    h4 {
        color: #5e6c84;
        font-weight: 600;
        font-size: 12px;
        margin: 2px;
    }
    .board-member {
        padding: 3px 3px;
        display: flex;
        p:before {
            font-family: icomoon;
            content: "\e915";
            font-size: 22px;
            color: #42516e;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        span{
            margin-left: 10px;
        }
    }
    .board-member:hover {
        background-color: #ebecf0;
    }
}
