.due-date-edit-preview {
  h6 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .due-date-edit-preview-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    text-align: start;
    color: #42526e;
    -webkit-appearance: none;
    border-radius: 3px;
    border: none;
    font-weight: 400;
    padding: 3px 6px;
    height: 35px;
    padding-right: 10px;
    .completed {
      background-color: #61bd4f;
      border-radius: 3px;
      box-sizing: border-box;
      display: block;
      float: left;
      font-weight: 600;
      height: 22px;
      line-height: 32px;
      margin-left: 4px;
      min-width: 40px;
      padding: 0 3px;
      width: auto;
      color: #fff;
      line-height: 22px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
      font-size: 12px;
    }
    span {
      color: #172b4d;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
        "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin-right: 5px;
    }
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    &:before {
      font-family: icomoon;
      content: "\e923";
      font-size: 22px;
      color: #42516e;
      border: none;
      cursor: pointer;
      width: 30px;
    }
  }
}


.edit-add-to-card-dates {
  cursor: pointer;
  position: relative;

  .MuiTextField-root {
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    font-size: 1rem;
    opacity: 0;
    cursor: pointer;
    input {
      font-size: 100px;
      height: 18px;
      cursor: pointer; cursor: hand;
    }
  }
}
