@font-face {
    font-family: icomoon;
    src: url(../../fonts/trellicons.ttf);
}

@font-face {
    font-family: Heavy;
    src: url(../../fonts/Heavy.woff);
}


@font-face {
    font-family: Light;
    src: url(../../fonts/Light.woff);
}
